body{
    background-image: url("../img/fondito.jpg")

}
.cabecera{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    width: auto;
    height: 250px;
}
.imagen1 {
    width: auto;
    height: 250px;
    float: right;
    position: absolute;
    top: 50px;
    left: 900px;
}

.t1{
    font-size: 120px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F1A94E;
    float: left;
    position: absolute;
    top: 50px;
    left: 50px;
    margin: 0 px;
    margin-bottom: 0px;
    margin-top: 25px;

}

.t2{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F2EDD8;
    position: absolute;
    top: 50px;
    left: 50px;
    margin: 0 px;
    margin-left: 0;
    margin-top: 180px;

}

.t3{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F2EDD8;
    float: left;
    position: absolute;
    top: 50px;
    left: 140px;
    margin: 0 px;
    margin-top: 180px;

}

.t4{
    font-size: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F1A94E;
    position: absolute;
    top: 90px;
    left: 10px;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.t5{
    font-size: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F1A94E;
    position: absolute;
    top: 140px;
    left: 10px;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.menu{
    margin: 0px;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 40px;
    height: 1px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #F2EDD8;
}

li a {
    display: block;
    color: 	#E45641;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 20PX;
    padding: 8px 0px;
    padding-right: 25px;
    text-decoration: none;
}

li a.active {
    background-color:  #5D4C46;
    color: #F2EDD8 ;
}

li a:hover:not(.active) {
    background-color: #E45641;
    color: #F2EDD8 ;
}

a{
    margin: 0px;
    font-family: 'Helvetica';
    font-size: 12px;
    color: black;
    margin: 40px;
  }

em{
  text-align: center;
}

  .copinion{
    width:auto;
    height: 350px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .contenedor{
    margin-top: 0px;
    margin-left: 250px;
    margin-right: 40px;
    width: auto;
    height: auto;
    margin-bottom: 60px;
    text-align: center;
  }

  .texto1{
    color: #F1A94E;
    font-family: 'Helvetica';
    margin: 0px;
    font-size: 34px;
  }

  h1{
      color:  #F2F2F2;

  }
  .tbiografia{
    color:  #CCCCCC;
    text-align: justify;
    margin: 15px;
  }

  .texto{
    width: auto;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .glosa{
      color: #CCCCCC;
  }
  .resena{
    width: auto;
    height: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    overflow-x: hidden;

  }

  .glosario{
    width: auto;
    height: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    overflow-x: hidden;

  }

  .tcuento{
    color:   #CCCCCC;
    text-align: justify;
    margin: 15px;
  }
  